*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 10px;

    --primary-color: #730039;
    --primary-color-m-light: hsla(330, 100%, 23%, 0.55);
    --primary-color-m-dark: hsla(330, 100%, 23%, 0.85);
    
    --secondary-color: #ffc513;
    --secondary-color-m-light: hsla(45, 100%, 54%, 0.55);
    --secondary-color-m-dark: hsla(45, 100%, 54%, 0.85);

    --tercery-color: #ff724c;
    --tercery-color-m-light: hsla(13, 100%, 65%, 0.55);
    --tercery-color-m-dark: hsla(13, 100%, 65%, 0.85);


    --quaternary-color: #f6eedf;
    --quaternary-color-m-light: hsla(39, 56%, 92%, 0.55);
    --quaternary-color-m-dark: hsla(39, 56%, 92%, 0.85);

    --transition-duration: 0.3s;

    --font-size-title: calc(2rem + 2vw);

    --padding-section: 8vh 3vw;

}

a:link,
a:visited {
    color: var(--quaternary-color);
    text-decoration: none;
}

p {
    color: #fff;
    font-weight: 300;
    font-size: calc(1rem + 1vw);
}

li {
    list-style: none;
    margin-bottom: 4rem;
}

i {
    font-size: var(--font-size-title);
    color: var(--secondary-color);
}

body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.7;
    background-color: var(--quaternary-color);
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 11rem)[col-end]) [center-end] 1fr [container-end];
    grid-template-rows: 100vh repeat(8, min-content);
    font-size: 2rem;
}  



/* HEADER SECTION */

header {
    background-color: var(--primary-color-m-dark);
    background-image: linear-gradient(var(--primary-color-m-light), var(--primary-color-m-light)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: container-start / container-end;
}

nav {
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 2;
    width: 0;
}

.nav-input {
    position: absolute; 
    top: 3rem;
    left: 3rem;
    height: 5rem;
    width: 5rem;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.nav-hamburger {
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 5rem;
    width: 5rem;
    background-color: var(--secondary-color);
    padding: 1rem;
    z-index: 2;
    display: grid;
    place-items: center;
    transition: all .5s ease-in-out;
    animation: main-nav 2s;
}


.nav-hamburger > div {
    position: relative;
    height: .3rem;
    width: 100%;
    background-color: #fff;
    transition: all .5s ease-in-out;
    animation: cross-animation-2;
    animation-duration: 2s;
}

.nav-hamburger > div::before,
.nav-hamburger > div::after {
    content: "";
    position: absolute;
    top: -1rem;
    height: .3rem;
    width: 60%;
    background-color: #fff;
    transition: all .2s ease-in-out;
}

.nav-hamburger > div::before {
    left: 0;
}

.nav-hamburger > div::after {
    top: 1rem;
    right: 0;
}


nav ul {
    background-color: var(--secondary-color-m-dark);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
   
}

nav ul > li {
    min-width: 130px;
    text-align: center;
    position: relative;
    padding: .7rem 1.2rem;
    opacity: 0;
    z-index: 5;
}

nav ul > li:nth-child(1) {
    transition: all 1s ease-in-out .2s;
}
nav ul > li:nth-child(2) {
    transition: all 1s ease-in-out .4s;
}
nav ul > li:nth-child(3) {
    transition: all 1s ease-in-out .6s;
}
nav ul > li:nth-child(4) {
    transition: all 1s ease-in-out .8s;
}

nav ul > li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform var(--transition-duration) ease-in-out;
    z-index: -1;
}

nav ul > li:hover::before {
    transform: scaleX(1)
}

nav ul > li a:link,
nav ul > li a:visited {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}


.nav-input:checked:hover + .nav-hamburger > div {
    transform: rotate(45deg);
}

.nav-input:checked + .nav-hamburger > div {
    transform: rotate(405deg);
    animation: cross-animation-1;
    animation-duration: .5s;
    
}

.nav-input:checked + .nav-hamburger > div::before {
    opacity: 0;
}
.nav-input:checked + .nav-hamburger > div::after {
    left: 0;
    top:0;
    transform: rotate(450deg) ;
    width: 100%;
}

.nav-input:checked ~ ul{
    transform: scaleX(1);
    
}

.nav-input:checked ~ ul li {
    opacity: 1;
}






/* HEADER-LOGO-CONTENT */

.header-logo-content {
    display: grid;
    grid-template-columns: 1fr minmax(30rem, 1fr) 1fr;
    grid-template-rows: min-content;
    height: 90%;
    justify-items: center;
}

.logo {
    font-size: 2rem;
    grid-column: 2 / 3;
}

.logo span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    color:var(--tercery-color-m-dark);
    
} 

.header-logo-content--content {
    grid-column: 1 / -1;
    align-self: center;
}

.title {
    font-size: calc(4rem + 4vw);
    font-weight: 400;
    text-transform: uppercase;
   padding: 0 2rem 0 var(--font-size-title);
    
}

.welcome-para {
    font-size: calc(1rem + 2vw);
    font-weight: 500;
    padding: 2vh 2rem 6vh var(--font-size-title);
}

.header-btn {
    display: inline-block;
    font-size: calc(1.5rem + .5vw);
    padding: .5em .75em;
    border: 2px solid var(--tercery-color);
    border-radius: 5%;
    margin-left: var(--font-size-title);
    position: relative;   
    z-index: 1; 
}

.header-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% + 4px);
    background-color: var(--tercery-color);
    left: 0px;
    top: -2px;
    border-radius: 5%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease-in-out;
    z-index: -1;
}

.header-btn:hover::before {
    transform: scaleX(1)
   
}





/* Booking Section */

/* Typography */

.booking-content p, .booking-data p {
    color:var(--primary-color-m-dark)
}

.booking-content {
    grid-column: 2 / 8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, max-content);
    gap: 2vh;
    padding: var(--padding-section);
}

.booking-content h2 {
    color: #000;
    font-weight: 400;
    font-size: var(--font-size-title);
    grid-column: 1 / -1;
    position: relative;
    padding: 0 1rem 2rem;
}

.booking-content h2::after {
    content: "";
    position: absolute;
    left: 15%;
    bottom: 10%;  
    width: 30%;
    height: 2px;
    background-color: var(--secondary-color);
}

.booking-content p {
    grid-column: 1 / -1;
    padding: 2rem;
}

.booking-content_icon-wrapper {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}





/* BOOKING-DATA SECTION */

.booking-data {
    grid-column: 8 / 12;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 3rem;
    padding: var(--padding-section);
}

.booking-data-content-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}

.booking-data h3 {
    color: #000;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.data-content {
    display: grid;
    gap: 2vh;
    place-items: center;
}


.data-content_data-box {
    background-color: var(--secondary-color);
    width: 100%;
    min-width: 110px;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin-bottom: 5rem;
    position: relative;
    display: grid;
    place-items: center;
}

.data-content_data-box::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color);
    transform: translateX(-50%) rotate(45deg);
}

.data-content_data-box p,
.data-content_data-box i{
    font-size: 3rem;
    color: #fff;
}


.data-day-para {
    font-weight: bold;
}

.booking-data-btn:link,
.booking-data-btn:visited {
    display: inline-block;
    color: #fff;
    background-color: var(--secondary-color);
    padding: .5rem 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    grid-column: 1 / 3;
    max-width: 80%;
    text-align: center;
    transition: all .5s ease-in-out;
    margin-bottom: 2rem;
}

.booking-data-btn:hover,
.booking-data-btn:active {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
}

.para-box {
    grid-column: 1 / -1;
}

.booking-data-para {
    font-size: 2rem;

}





/* Villas Section */

.villas {
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2vw;
    padding:2rem 0;
}

.villa-card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4rem 2rem;
    transition: transform .4s ease-in-out;
}

.villa-card h2 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 3rem;
}

.villa-card p {
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 3rem;
}

.villa-card a {
    display: inline-block;
    padding: 1rem 1.6rem;
    background: #fff;
    color: var(--primary-color);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.villa-card a::before {
    content: "";
    position: absolute; 
    width: 100%;
    height: 0;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    background-color: var(--secondary-color);
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .4s ease-in-out;
    z-index: -1;
}

.villa-card a:hover::before {
  height: 400%;
  
}

.villa-card a:hover {
    color: #fff;
}

.villa-card:hover {
    transform: scale(1.05);
}

.villa-card:nth-of-type(1) {
    background-image: linear-gradient(var(--primary-color-m-light), var(--tercery-color-m-light)), url("../img/Villas/villa-1.jpg");
}
.villa-card:nth-of-type(2) {
    background-image: linear-gradient(var(--primary-color-m-light), var(--tercery-color-m-light)), url("../img/Villas/villa-2.jpg");
}
.villa-card:nth-of-type(3) {
    background-image: linear-gradient(var(--primary-color-m-light), var(--tercery-color-m-light)), url("../img/Villas/villa-3.jpg");
}
.villa-card:nth-of-type(4) {
    background-image: linear-gradient(var(--primary-color-m-light), var(--tercery-color-m-light)), url("../img/Villas/villa-4.jpg");
}
.villa-card:nth-of-type(5) {
    background-image: linear-gradient(var(--primary-color-m-light), var(--tercery-color-m-light)), url("../img/Villas/villa-5.jpg");
}
.villa-card:nth-of-type(6) {
    background-image: linear-gradient(var(--primary-color-m-light), var(--tercery-color-m-light)), url("../img/Villas/villa-6.jpg");
}





/* Motto Section */

.motto {
    grid-column: 1 / 13;
    background-color: var(--primary-color);
    padding: 10vh;
}

.motto-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.motto h2 {
    font-size: 5rem;
    font-weight: 400;
    position: relative;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.motto h2::after {
    content: "";
    position: absolute;
    left: 40%;
    bottom: 0;
    width: 20%;
    height: 2px;
    background-color: var(--quaternary-color);

}





/* Event Section */

.event-content {
    grid-column: 1 / 11;
    background-color: var(--tercery-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    column-gap: .5rem;
}

.section-content-card {
    padding: 4rem 6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.section-content-card h2 {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

.section-content-card p {
    font-weight: 500;
}

.party-card {
    background-image: linear-gradient(var(--tercery-color-m-light), var(--tercery-color-m-light)), url("../img/Events/beach-party.jpg")
}

.culture-card {
    background-image: linear-gradient(var(--tercery-color-m-light), var(--tercery-color-m-light)), url("../img/Events/culture-discovery.jpg");
   
}


.event-text {
    grid-column: 11 / 12;
    background-color: var(--tercery-color);
    display: grid;
    place-items: center;
    padding: 1rem;
}

.reverse-title {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2px;
    transform: rotate(90deg);
    
}





/* Gallery Section */

.gallery-text {
    grid-column: 2 / 3;
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
    padding: 1rem;
}

.gallery-text .reverse-title {
    transform: rotate(-90deg);
}



.gallery-carousele {
    grid-column: 3 / 13;
    background-color: var(--quaternary-color);
    height: 90vh;
    position: relative;
    border: 2px solid var(--secondary-color);
}

.gallery-carousele img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.img-box {
    display: none;
    height: 100%;
    width: 100%;
}

.active {
    display: block;
    animation: cross-animation-1 1s;
}

.gallery-carousele-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.gallery-carousele-buttons button{
    border-radius: 50%;
    border: none;
    overflow: none;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.gallery-carousele-buttons button:hover {
    transform: scale(1.1);
}





/* Features Section */

.features-content {
    grid-column: 1 / 11;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    column-gap: .5rem;
}

.features-card:nth-of-type(1) {
    background-image: linear-gradient(var(--secondary-color-m-light),var(--secondary-color-m-light)), url("../img/Features/cocktail.jpg") ;
}

.features-card:nth-of-type(2) {
    background-image: linear-gradient(var(--secondary-color-m-light),var(--secondary-color-m-light)), url("../img/Features/surfing.jpg") ;
}

.features-text {
    grid-column: 11 / 12;
    background-color: var(--secondary-color);
    display: grid;
    place-items: center;
    padding: 0rem;
}





/* testimonials Section */
.testimonials {
    grid-column: 2 / -2;
    padding: var(--padding-section);
    display: grid;
    grid-template-columns: repeat(auto-fit, 28rem);
    gap: 5rem;
    place-content: center;
}

.testimonials-content-card {
    width: 28rem;
    height: 50rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.testimonials-content-card-front,
.testimonials-content-card-back {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
    transform: perspective(100rem);
    backface-visibility: hidden;
    display: grid;
    justify-items: center;
    align-items: start;
    padding: 3rem;
}

.testimonials-content-card-front h5 {
   color: #000;
   background-color:var(--secondary-color-m-light);
   padding: 1rem;
   border-radius: 0 0 50% 50%;
   margin-top: 3rem;
  
}

.card-reverse-para {
    font-size: 2rem;
    font-weight: 400;
    transform: perspective(reverse)
}


.testimonials-content-card-back {
    transform: perspective(100rem) rotateY(180deg);
    align-items: center;
    background-color: var(--secondary-color);
}

.testimonials-content-card:hover .testimonials-content-card-front {
    transform: perspective(100rem) rotateY(180deg);

}
.testimonials-content-card:hover .testimonials-content-card-back {
    transform: perspective(100rem) rotateY(360deg);


}


.testimonials-content-card:nth-of-type(1) .testimonials-content-card-front {
    background-image: url(../img/Testimonials/testimonials-1.jpg);
}
.testimonials-content-card:nth-of-type(2) .testimonials-content-card-front {
    background-image: url(../img/Testimonials/testimonials-2.jpg);
}
.testimonials-content-card:nth-of-type(3) .testimonials-content-card-front{
    background-image: url(../img/Testimonials/testimonials-3.jpg);
}
.testimonials-content-card:nth-of-type(4) .testimonials-content-card-front{
    background-image: url(../img/Testimonials/testimonials-4.jpg);
}
.testimonials-content-card:nth-of-type(5) .testimonials-content-card-front{
    background-image: url(../img/Testimonials/testimonials-5.jpg);
}
.testimonials-content-card:nth-of-type(6) .testimonials-content-card-front{
    background-image: url(../img/Testimonials/testimonials-6.jpg);
}





/* FOOTER */

footer {
    grid-column: 1 / -1;
    background-color: var(--primary-color);
    padding: 6vh 4vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

}

.footer-social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
}

.footer-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    width: 50px;
    height: 50px;
    color: var(--primary-color);
    border-radius: 50%;
    box-shadow: 5px 5px 20px 5px var(--secondary-color-m-light),
                -5px -5px 20px 5px var(--secondary-color-m-light);
    transform: scale(.8);
    animation: social 3s linear infinite;
}

.footer-social i {
    color: var(--primary-color);
    font-size: 2.5rem;
}

.footer-social a:nth-of-type(1){
    animation-delay: 0s;
   
}

.footer-social a:nth-of-type(2){
   animation-delay: 0.3s;

}

.footer-social a:nth-of-type(3){
   animation-delay: 0.6s;
}

.footer-social a:nth-of-type(4){
   animation-delay: 0.9s;
}